.hero h1 {
  font-size: 3rem;
  color: #454d50;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 60px;
  text-align: center;
}